<div class='container'>
<h2>Welcome to <%= @album.name %>, uploaded by <a href="/users/<%= @user.id %>"><%= @user.namee %></a></h2>

<h3><%= @album.name %></h3>
<ul>
 <% @photos.each do |photo| %>
  <%= photo.WTF goes here??? URL, img, <IMg src='url.jpg'> %>
</ul>


</div>
